/* Everything is in border-box to easier put elements where I want.
   The border is at 0 margin.
*/

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
}

/* ------- Header section ------- */

#h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 1em;
  padding: 0.5em;
  font-size: 2.5rem;
  background-color: rgb(218, 141, 201);
}

 /* ------- Add name section ------- */

.addName {
  text-align: left;
  color: rgb(218, 141, 201);
  font-size: 2rem;
  margin-bottom: 2.5em;
}

#name1 {
  display: flex;
  margin: 0.5em 0em;
}

#name2 {
  display: flex;
  margin: 0.5em 0em;
}

input {
  font-size: 2rem;
  color: rgb(218, 141, 201); 
  border: 1px solid rgb(218, 141, 201);
}

#nameSet {
  font-size: 2rem;
  background-color: rgb(218, 141, 201);
  padding: 0.5em 1em;
  cursor: pointer
}

#nameSet:hover {
  background-color: rgb(218, 141, 201, 0.8);
}

#nameSet:active {
  background-color: rgb(218, 141, 201, 0.6);
}

/* ------- Game section with cells ------- */

#gameboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.content {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  background-color: rgb(218, 141, 201);
}

.gameCells {
  display: flex;
  gap: 5px;
  height: 100px;
  width: 100px;
  background-color: white;
  cursor: pointer;
  font-size: 100px;
  justify-content: center;
  align-items: center;
}

.gameCells:active {
  background-color: #ffffff88;
}

/* ------- Scoreboard section ------- */

#scoreboard {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  font-size: 2rem;
  color: rgb(218, 141, 201);
  gap: 2em;
}

.playerScore {
  margin-left: -1.5em;
}

/* ------- What happened at the game section ------- */

.score {
  font-size: 2rem;
  color: rgb(218, 141, 201);
}

/* ------- Buttons section at the below ------- */

.button {
  font-size: 2rem;
  margin: 1em;
  background-color: rgb(218, 141, 201);
  padding: 0.5em 1em;
  cursor: pointer;
}

.button:hover{
  background-color: rgb(218, 141, 201, 0.8);
}

.button:active{
  background-color: rgb(218, 141, 201, 0.6);
}